/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Pacifico&family=Zilla+Slab:wght@300;400;600&display=swap');


:root {
    --white: rgb(252, 249, 239);
    --light-grey: hsl(51, 8%, 82%);
    --dark-grey: hsl(60, 1%, 21%);
    --blue: rgb(0, 88, 143);
    --dark-blue: #0f1d4d;
    --black: rgb(22, 22, 24); 

    --ff-primary: 'Arvo', serif;
    --ff-accent: 'Zilla Slab', serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: .7rem;
}

section {
    padding: 3rem 2rem;
    min-width: 100%;
    max-width: 70.5rem;
}

h1,
h2,
h3 {
    color: var(--blue);
    font-family: var(--ff-accent);
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 1em;
}


h2 {
    padding: 4rem 0 2rem 0;
    text-decoration: underline .3rem rgb(22, 22, 24, 0.2);
}

img {
    display: block;
    max-width: 100%;
}

.container {
    margin-inline: auto;
}

.split {
    display: flex;
    flex-direction: column;
}

.container--narrow {
    max-width: 30rem;
}



.bg-creamy-white {
    background-color: var(--white);
}

.bg-dark-blue {
    background-color: var(--dark-blue);
    color: var(--white);
}

.bg-grey {
    background-color: var(--light-grey);
}

/* header */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: var(--blue);
    color: var(--white);
}

.top-bar ul {
    list-style: none;
    display: flex;
}

.top-bar li {
    margin: 0 1rem;
}

.top-bar a {
    color: var(--white);
    font-size: 1.3rem;
    text-decoration: none;
}

.top-bar a:hover {
    color: var(--light-grey);
    text-decoration: underline;
}

.top-bar a:focus {
    color: var(--light-grey);
    text-decoration: underline;
}

.fa-solid {
    margin-right: .5rem;
}

.fa-brands {
    margin-right: .5rem;
}


/* Navigation */

.navbar {
    background-color: var(--white);
    padding: 0;
    margin: 0;
}

.navbar a {
    font-family: var(--ff-accent);
    font-weight: 400;
    color: var(--black);
    font-size: 1rem;
    text-transform: uppercase;
}

.navbar a:hover {
    color: var(--blue);
}

.navbar-nav {
    gap: .5rem;
    margin-right: 5rem;
    text-align: center;
}

.nav-item {
    color: var(--black);
    font-size: 1em;
}

.logo {
    margin-left: 5rem;
}

.logo img {
    width: 7rem;
}

.button a {
    padding: .5rem .7rem;
    background: var(--dark-blue);
    color: var(--white);
    border: 1px solid var(--blue);
    border-radius: 50em;
    align-items: center;
}

.button a:hover {
    color: var(--white);
    background-color: var(--blue);
    transition: all ease-in-out .30s;
}

.button a:focus {
    color: var(--white);
    background-color: var(--blue);
    transition: all ease-in-out .30s;
}

.button.secondary {
    border: 0;
}

.button.secondary a {
    background: transparent;
    color: var(--black);
}

.button.secondary a:hover {
    color: var(--black);
    background-color: var(--light-grey);
}

.button.secondary a:focus {
    color: var(--black);
    background-color: var(--light-grey);
}



/* welcome section */
.welcome {
    background-image: url("../assets/main_image3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    background-color: rgba(252, 249, 239, 0.1);
    padding: 2rem;
    width: 100%;
}

.about-agency {
    background-color: var(--white);
}

.greeting {
    width: 100%;
    margin-inline: 0 auto;
    padding: .5rem;
    color: var(--dark-blue);
    text-align: center;
    background-color: rgba(252, 249, 239, 0.6);
    box-shadow: 5px 5px 15px var(--black);
}

.request-quote {
    color: var(--blue);
    font-style: italic;
}

/* Footer */
.copyright {
    text-align: center;
    padding: 2rem 0;
    border-top: .1rem solid var(--dark-blue);
    background-color: var(--white);
    color: var(--black);


/* media queries */

/* Mid/Tablet Screens */
@media all and (max-width: 62em) {

    .logo {
        margin: 0;
    }

}

/* Mobile/Small screens */

@media all and (max-width: 40em) {
    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }
}
