/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

:root {
    --white: hsl(60, 12%, 97%);
    --light-grey: hsl(51, 13%, 78%);
    --dark-blue: hsl(226, 67%, 18%);
    --black: hsl(240, 4%, 9%); 
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*,
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Arvo', serif;
    color: var(--black);
}

p {
    margin-top: 1em;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

/* header */
.logo {
    margin: 1rem;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.primary-navigation {
    list-style: none;
    background-color: hsl(51, 13%, 95%);
}

.primary-navigation a {
    text-decoration: none;
}

/* media queries */

@media (max-width: 45em) {
    .primary-navigation {
        --gap: 2em;
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(20vh, 10rem) 2em;
        z-index: 1000;
    }

    .nav-toggle {
        position: absolute;
        top: 2rem;
        right: 2rem; 
        width: 1rem;
        background: var(--dark-blue);
        aspect-ratio: 1;
        cursor: pointer;
        z-index: 9999;
        /* display: none; */
    }
}