/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {
    --white: rgb(252, 249, 239);
    --light-grey: hsl(51, 8%, 82%);
    --dark-grey: hsl(60, 1%, 21%);
    --blue: #00588f;
    --dark-blue: #0f1d4d;
    --black: hsl(240, 4%, 9%); 
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*,
body,
h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 1em;
}

body {
    background-color: var(--white);
    font-family: 'Arvo', serif;
    color: var(--black);
    line-height: 1.6rem;
}

p {
    margin-inline: 1.3rem;
    font-size: 1.2rem;
}

img {
    max-width: 100%;
    display: block;
}

a,
a:hover {
    text-decoration: none;
}

h1 {
    color: var(--dark-blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 7vh;
}

section {
    padding: 3rem 0;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.container--narrow {
    max-width: 35rem;
}

/* header */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: var(--blue);
    color: var(--white);
}

.top-bar ul {
    list-style: none;
    display: flex;
}

.top-bar li {
    margin: 0 1rem;
}

.top-bar a {
    color: var(--white);
    font-size: 1.3rem;
    text-decoration: none;
}

.top-bar a:hover {
    color: var(--light-grey);
    text-decoration: underline;
}

.top-bar a:focus {
    color: var(--light-grey);
    text-decoration: underline;
}

.fa-solid {
    margin-right: .5rem;
}

.fa-brands {
    margin-right: .5rem;
}


/* Navigation */

.navbar {
    background-color: var(--white);
    padding: 0 3rem;
}

.navbar a {
    font-family: 'Nanum Gothic', sans-serif;
    color: var(--black);
    font-size: 1rem;
    text-transform: uppercase;
}

.navbar a:hover {
    color: var(--blue);
}

.navbar-nav {
    gap: 1rem;
    margin-right: 5rem;
    text-align: center;
}

.nav-item {
    color: var(--black);
    font-size: 1em;
}

.logo {
    margin-left: 5rem;
}

.logo img {
    width: 9rem;
}

.button a {
    padding: .5rem .7rem;
    background: var(--dark-blue);
    color: var(--white);
    border: 1px solid var(--blue);
    border-radius: 50em;
    align-items: center;
}

.button a:hover {
    color: var(--white);
    background-color: var(--blue);
    transition: all ease-in-out .30s;
}

.button a:focus {
    color: var(--white);
    background-color: var(--blue);
    transition: all ease-in-out .30s;
}

.button.secondary {
    border: 0;
}

.button.secondary a {
    background: transparent;
    color: var(--black);
}

.button.secondary a:hover {
    color: var(--black);
    background-color: var(--light-grey);
}

.button.secondary a:focus {
    color: var(--black);
    background-color: var(--light-grey);
}



/* welcome section */
.welcome {
    background-image: url("../assets/main_image3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    background-color: rgba(252, 249, 239, 0.1);
    padding: 2rem;
    width: 100%;
}

.about-agency {
    background-color: var(--white);
}

.greeting {
    width: 100%;
    margin-inline: 0 auto;
    padding: .5rem;
    color: var(--dark-blue);
    text-align: center;
    background-color: rgba(252, 249, 239, 0.6);
    box-shadow: 5px 5px 15px var(--black);
}

.catch-phrase {
    color: var(--blue);
    font-size: 2.5rem;
    text-align: center;
    margin-inline: 2rem ;
}

.action-statement {
    color: var(--dark-grey);
    font-size: 1.5rem;
    text-align: center;
    padding: .5 0 2rem 0;
    line-height: 2rem;
}

.action-statement a {
    text-decoration: none;
}

.action-statement a:hover {
    color: var(--dark-blue) ;
    text-decoration: underline;
}

.action-statement a:focus {
    color: var(--dark-blue) ;
    text-decoration: underline;
}

.request-quote {
    color: var(--blue);
    font-style: italic;
}

.community-news {
    color: var(--white);
    background-color: var(--blue);
}

/* Footer & Contact Section */
footer {
    background-color: var(--blue);
    color: var(--white);
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: column;
}

.footer-container {
    display: flex;
    font-size: 1rem;
    gap: 10rem;
    padding: 1rem .5rem;
}

.footer-container ul {
    list-style-type: none;
    padding: 0 .2rem 0 .2rem;
    font-size: .8rem;
    align-items: center;
    line-height: 1.5rem;
 }

.footer-container a {
    text-decoration: none;
    color: var(--white);
}

.footer-container a:hover {
    text-decoration: underline;
    color: var(--light-grey);   
}

.footer-container a:focus {
    text-decoration: underline;
    color: var(--light-grey);
}

.address {
    flex-grow: 1;
    flex-basis: 70%;
}

.menu {
    flex-grow: 1;
    flex-basis: 40%;
}

.contact {
    flex-grow: 1;
    flex-basis: 100%;
}

.copyright {
    text-align: center;
    padding: 2rem 0;
    border-top: .1rem solid var(--dark-blue);
    background-color: var(--white);
    color: var(--black);
}


/* media queries */

/* Mid/Tablet Screens */
@media all and (max-width: 62em) {

    .logo {
        margin: 0;
    }

}

/* Mobile/Small screens */

@media all and (max-width: 45em) {

    section.contact-container {
        flex-direction: column;
        padding-left: 2rem;
        gap: .8rem;
    }

    .footer-container {
        flex-direction: column;
        margin-left: 2rem;
        gap: 1rem;
    }

    .footer-bar {
        margin: 0;
    }

    .footer-bar li {
        margin: 0 .5rem;
    }

     .footer-bar a {
        font-size: 1rem;
    }
}

